body {
  background-color: #161616;
  color: #F5F5F5;
  font-size: 1.1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  line-height: 30px;
}

h1 {
  text-align: center;
  color: rgb(72, 255, 0);
}

h2 {
  margin: 0;
  margin-bottom: 15px;
}

main {
  margin: 40px;
}

p {
  text-align: "left";
}

section {
  border: thick double rgb(72, 255, 0);
  margin-bottom: 30px;
  border-radius: 15px;
  width: 50%;
}

button {
  height: 36px;
  border-radius: 5px;
 
}

#projeto1, #projeto2 {
  padding: 10px 20px;
  line-height: auto
}

#formulario {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#notas {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

#btnSituacao{
  width: 300px;
  background-color: rgb(72, 255, 0);
}

#content {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#contentCalcMedias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nota {
  display: flex;
  flex-direction: column;
}

.inputCalc {
  width: 110px;
  height: 30px;
  border-radius: 5px;
  }

.buttonCalc {
  width: 110px;
  background-color: rgb(72, 255, 0);
}


.resultado {
  margin-top: 0;
  color: rgb(72, 255, 0)
  
}

.inputNota{
  width: 80px;
  height: 36px;
  border-radius: 5px;
  
  }

.copyrigth {
  text-align: center;
  color: #F5F5F5;
  font-size:medium;
}